<!DOCTYPE html>
<html ng-app="photosik">
<head>
    <meta charset="utf-8">
    <title>Photosik</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="script/app.js"></script>
</head>

<body ng-controller="MCtrl">

    <div class="container viewer">

      <img ng-repeat="photo in photos" class="photo"
        ng-show="isCPIndex($index)" ng-src="{{photo.image}}">
    </div>

    <ul class="nav">
      <a class="arrow prev" href="#" ng-click="prevPhoto()"></a>
        <li ng-repeat="photo in photos" ng-class="{'active' :isCPIndex($index)}">
          <img src="{{photo.image}}" alt="{{photo.description}}"
                ng-click="setCPIndex($index);" />
        </li>
        <a class="arrow next" href="#" ng-click="nextPhoto()"></a>
    </ul>

</body>
</html>
